<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- 命名空间 -->


    <!-- 映射map -->
    <mappers>
       <!-- <mapper class="dao.UserDao"/>
        <mapper class="dao.UserInfoDao"/>
        <mapper class="dao.CourseInfoDao"/>
        <mapper class="dao.ScoresDao"/>
        <mapper class="dao.ScoreInfoDao"/>-->
    </mappers>

</configuration>